<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <%- include('_headerAdmin'); %>
        <h1>ABC Company | Admin dashboard</h1>
        <h1>Name : <%= employee.name %></h1>
        <h1>Role : Admin</h1>
        <h1>Email : <%= employee.email %></h1>
    </body>
</html>